.admin-layout {
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;

  .navbar {
    width: 300px;
    background: #ccc;
  }

  .admin-main {
    width: 100%;
    min-height: 100dvh;
    max-height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50px;

    & > .ant-flex > * {
      padding: 15px;
    }

    .admin-header {
      height: 50px;
      background: #eee;
    }

    .admin-content {
      height: 100%;
    }

    .admin-footer {
      height: 40px;
    }
  }
}
